<h3>Atmospheric Science Faculty by Alma Mater</h3>

<ul>
  <li><b>Background</b>: <a href="https://www.nature.com/articles/s41586-022-05222-x">https://www.nature.com/articles/s41586-022-05222-x</a></li>
  <li><b>Data</b>: <a href="https://github.com/LarremoreLab/us-faculty-hiring-networks">https://github.com/LarremoreLab/us-faculty-hiring-networks</a></li>
</ul>

Information regarding how the data were collected, the period over which they are valid, etc. is provided in the <i>Nature</i> manuscript linked above. Information on how to read the data is provided in the GitHub repository linked above.
<hr>
We wish to read in the edge-lists.csv file. When subset for the Field (TaxonomyLevel) of Atmospheric Sciences and Meteorology (TaxonomyValue), these data indicate the counts of faculty at each surveyed institution from a given alma mater; e.g., a Total of 2 for MIT from UWM would indicate that two faculty at UWM received their PhD from MIT.

<b>Note</b>: I did a spot check on a DegreeInstitutionName of 'University of Arizona,' which returned Purdue as having seven Arizona alumni and Arizona having six of their own alumni on the faculty. These counts, particularly for Arizona, only make sense if the broadest-possible definition of faculty is considered - meaning tenure-track and tenured faculty, research faculty, and instructional faculty. I also did a spot check on 'Florida State,' which returned Florida State as having eight of their own alumni on the faculty (which their website does not seem to support). The <i>Nature</i> paper indicates that only tenured and tenure-track faculty are included in their data, but I couldn't immediately reconcile the data under that definition.

In [1]:
import pandas as pd

# read the CSV file into a pandas DataFrame straight from GitHub
df = pd.read_csv('https://raw.githubusercontent.com/LarremoreLab/us-faculty-hiring-networks/main/data/edge-lists.csv')

# subset by the Field of Atmospheric Sciences and Meteorology
df = df[(df['TaxonomyLevel'] == 'Field')  &  (df['TaxonomyValue'] == 'Atmospheric Sciences and Meteorology')]

# get list of all alma maters with at least one alum as a faculty member
almas = df['DegreeInstitutionName'].unique()

# create blank list to store alma maters and faculty counts
data = []

# loop over each alma mater, create subset of only that alma mater, 
# and find sum of faculty from that alma mater across institutions
for alma in almas:
    dfsub = df[(df['DegreeInstitutionName'] == alma)]
    data.append([alma, dfsub['Total'].sum()])

# convert list to pandas DataFrame and sort
datadf = pd.DataFrame(data, columns=['university','count'])
datadf = datadf.sort_values('count', ascending=False)
print(datadf)

# some stats
print(datadf.sum())
print(datadf[0:50])

                                        university  count
0                                              MIT   99.0
5                                               UW   79.0
2                                          Caltech   48.0
11                                         Harvard   46.0
39                                      Penn State   42.0
..                                             ...    ...
150                      Ocean University of China    1.0
149                         Trinity College Dublin    1.0
148  Slovak University of Technology in Bratislava    1.0
260        Arctic and Antarctic Research Institute    1.0
71                                             NaN    0.0

[261 rows x 2 columns]
count    1525.0
dtype: float64
                                  university  count
0                                        MIT   99.0
5                                         UW   79.0
2                                    Caltech   48.0
11                                   Harvard   46.0
39                                Penn State   42.0
4            University of Wisconsin-Madison   41.0
35                    University of Michigan   38.0
28                                 Princeton   36.0
36                            Colorado State   35.0
152                             Oregon State   32.0
10                              UC San Diego   30.0
41                                CU Boulder   26.0
15                                  Columbia   26.0
12       University of Minnesota Twin Cities   25.0
34                     University of Arizona   25.0
26                               UC Berkeley   24.0
13                                      UCLA   23.0
3    University of Illinois Urbana-Champaign   21.0
8                                    Cornell   21.0
40       University of Maryland College Park   21.0
1                              Florida State   20.0
7                      University of Chicago   20.0
27                                  Stanford   20.0
38                      North Carolina State   17.0
110                                Texas A&M   16.0
75                      University of Hawaii   16.0
14                                      Yale   16.0
43                    University of Oklahoma   15.0
32                University of Rhode Island   15.0
51                                    Purdue   14.0
87               University at Albany (SUNY)   14.0
18                       University of Miami   12.0
9                           SUNY Stony Brook   12.0
93                                  UC Davis   12.0
52                        University of Utah   11.0
25                     University of Wyoming   10.0
19         University of Southern California   10.0
64             Scripps Research (California)    9.0
37                             Johns Hopkins    9.0
73           Washington University St. Louis    8.0
81                             UC Santa Cruz    8.0
91                   University of Cambridge    8.0
124                                UT Austin    8.0
130                                      UNC    8.0
17                             Arizona State    8.0
77                     University of Georgia    7.0
79                     University of Toronto    7.0
47                                      Duke    7.0
61                              Georgia Tech    7.0
42                                     Brown    7.0

/opt/tljh/user/lib/python3.7/site-packages/ipykernel_launcher.py:27: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.